{% extends '_base.html' %}

{% block outer_content %}
<div id="page-wrap">

<div id="header" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Pixelcite <small>Quotations for Twitter</small></h1>

            <div class="twitter">
                {% if session.screen_name %}
                Logged in as {{ session.screen_name }} (<a href="/logout/">Logout</a>) 
                {% else %}
                <button id="login" class="btn btn-primary"><i class="fa fa-twitter"></i> Login with Twitter</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="controls container">
    <div class="row">
        <div class="form-wrapper col-md-12 col-lg-5">
            <div class="controls-wrapper">
            <form role="form">
                <div class="form-group">
                    <label for="status">Tweet text *</label>
                    <textarea id="status" name="status" class="form-control"></textarea>
                    <div class="count"></div>
                </div>
                <div class="form-group">
                    <label for="quotetext">Quote &dagger;</label>
                    <textarea id="quote" name="quote" class="form-control" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label for="source">Author / Source &dagger;</label>
                    <input id="source" name="source" class="form-control" />
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="form-group col-md-4">
                                <label for="fontsize">Font Size</label>
                                <input id="fontsize" name="fontsize" class="form-control" value="32" />
                        </div>
                        <div class="form-group col-md-4">
                                <label for="text-color">Text color</label>
                                <input id="text-color" name="text-color" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-4">
                                <label for="bg-color">Background color</label>
                                <input id="bg-color" name="bg-color" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <p class="help-block">
                                * Pixelcite adds affiliate codes to some URLs.<br />
                                &dagger; HTML is allowed. Use &lt;br /&gt; for line breaks.
                            </p>
                        </div>
                    </div>
                </div>
           </div>
            </form>
        </div>

        <div class="poster-wrapper col-md-12 col-lg-7">
            <div id="display-wrapper">
                <label>{% if session.screen_name %}@{{ session.screen_name }}{% else %}@user{% endif %}</label>
                <div id="display-status"></div>
            </div>
            <div class="poster">
                <span class="left-quote">&ldquo;</span>
                <blockquote><p></p></blockquote>

                <p class="attribution"></p>

                <div class="logo-wrapper">
                    <h1>Made with Pixelcite.com</h1>
                </div>
            </div>
            <div class="buttons">
                {% if session.screen_name %}
                <button id="tweet" class="btn btn-primary"><i class="fa fa-twitter"></i> Tweet</button>
                {% else %}
                <a class="btn btn-primary" href="/authenticate/"><i class="fa fa-twitter"></i> Login to Tweet</a>
                {% endif %}
                <button id="save" class="btn btn-default"><i class="fa fa-download"></i> Save image</button>
            </div>
        </div>
    </div>
</div>

<div id="push"></div>
</div>

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>Follow <a href="https://twitter.com/pixelcite">@pixelcite</a>.</li>
                    <li>Made by <a href="https://twitter.com/onyxfish">@onyxfish</a>, &copy; 2014.</li>
                    <li>Based on <a href="https://twitter.com/nprviz">@nprviz</a>'s <a href="https://github.com/nprapps/quotable">quotable</a>.</li>
                    <li>This site stores no user data.</li>
                    <li>Send feedback to <a href="mailto:pixelcite@gmail.com">pixelcite@gmail.com</a>.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

