{% extends '_base.html' %}

{% block outer_content %}
<div id="header" class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="assets/logo36.png" />

            <h1>Pixelcite <small>Beautiful quotes for Twitter</small></h1>

            <div class="pull-right">
                {% if session.oauth_token %}
                Logged in as {{ session.screen_name }} (<a href="/logout/">Logout</a>) 
                {% else %}
                <a class="btn btn-primary" href="/authenticate/"><i class="fa fa-twitter"></i> Login with Twitter</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="form-wrapper col-md-5">
            <div class="controls-wrapper">
            <form role="form">
                <div class="form-group">
                    <label for="comment">Status</label>
                    <textarea id="comment" name="comment" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="quotetext">Quote</label>
                    <textarea id="quote" name="quote" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="source">Author / Source</label>
                    <input id="source" name="source" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="fontsize">Font Size</label>
                    <input id="fontsize" name="fontsize" class="form-control"  type="range" min="24" max="120" value="32" />
                </div>
                <div class="form-group">
                    <label for="url">URL</label>
                    <input id="url" name="url" type="url" class="form-control"  />
                </div>
            </div>
            </form>
        </div>

        <div class="poster-wrapper col-md-7">
            <div class="status pull-right">
                <label class="user" for="text">{% if session.screen_name %}@{{ screen_name }}{% else %}@user{% endif %}</label>
                <textarea class="text form-control" name="text" disabled="disabled"></textarea>
                <div class="count"></div>
            </div>
            <div class="poster pull-right">
                <span class="left-quote">&ldquo;</span>
                <blockquote><p></p></blockquote>

                <p class="attribution"></p>

                <p class="logo-wrapper">
                    <img class="logo" src="assets/logo36.png" />
                </p>
            </div>
            <div class="buttons">
                <div class="pull-right">
                    {% if session.oauth_token %}
                    <button id="tweet" class="btn btn-primary"><i class="fa fa-twitter"></i> Tweet</button>
                    {% else %}
                    <a class="btn btn-primary" href="/authenticate/"><i class="fa fa-twitter"></i> Login to Tweet</a>
                    {% endif %}
                    <button id="save" class="btn btn-default"><i class="fa fa-download"></i> Save image</button>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}

